.header-info-details{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    line-height: normal;
    font-size: 13px;
    font-weight: 700;
    color:#111;
}

.contact-heading{
    color: gray;
}